<div fxLayout="column" fxFlex fxFlexFill>
    <div fxLayout="row" fxFlex="5">
        <app-header fxLayout="column" fxFlex fxFlexFill></app-header>
    </div>
    <div fxLayout="row" fxFlex>
        <div id="mainContent" fxLayout="column" fxFlex fxFlexFill>
            <app-menu-sidenav fxLayout="column" fxFlex fxFlexFill></app-menu-sidenav>
        </div>
    </div>
    <div fxLayout="row" fxFlex="5" fxFlexAlign="end end">
        <app-footer fxLayout="column" fxFlex fxFlexFill></app-footer>
    </div>
</div>