<mat-drawer-container class="drawer-container" autosize fxLayout="column" fxFlex fxFlexFill>
  <mat-drawer #drawer class="drawer-sidenav" opened="{{this.showFiller}}" mode="side">
    <div fxLayout="column" fxFlex fxFlexFill>
      <mat-nav-list dense>
        <a mat-list-item routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> HOME</a>
        <a mat-list-item routerLink="/product" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> PRODUCT</a>
      </mat-nav-list>
    </div>

  </mat-drawer>

  <div class="drawer-sidenav-content" fxLayout="column" fxFlex fxFlexFill>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>